<!DOCTYPE html>
<html>
	<head>
	  <title>Allt om min röv</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid">
		  <header>
		    <div class="navbar ">
  		    <div class="navbar-inner">
    		    <a class="brand" href="#">Title</a>
    		    <ul class="nav">
      		    <li class="active"><%= link_to "Startsida", root_path %></li>
      		    <li><%= link_to "FantasyAllsvenskan", fantasyallsvenskan_path %></li>
      		  </ul>
      		</div>
        </div>
		  </header>
		  
			<div class="row-fluid">
				<div class="span2" id="sidebar">
				<!--Sidebar content-->
			 </div>
			<div class="span10">
				 <%= yield %>
			</div>
		</div>
	</body>
</html>
